/* parte di CSS comune per tutti i dispositivi*/
* {/*rende la pagina vuota e imposta un iterlinea di 1.5 per l'accessibilità della pagina*/
    padding: 0em;
    margin: 0em;
    font-family: arial, helvetica, sans-serif;
    box-sizing: border-box;
    max-width: 100%;
}

html, body { /*impostazione colore di sfondo e larghezza minima della pagina*/
    font-size: 1em;
    background-color: #FFFFFF;
    color: #000000;
}

#header {/*colore+ombreggiatura del header*/
    padding: 0.7em 1em;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    min-height: 9em;
}


#headerTitle {
    font-size: 1.7em;
    padding: 1.4em 0em;
}


#header404 { /*header per pagina 404*/
    padding: 1em;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    min-height: 10em;
}

/*
#headerStampa {
    padding: 1.5em;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    min-height: 9em;
}

#logoImgStampa {
    float: right;
    width: 30%;
}

#headerStampa > h2 {
    padding-top: 1.5em;
}
*/


#content404 { /* da unire con content perchè sono uguali*/
    background-color: #FFFFFF;
    color: #000000;
    margin: 1.5em;
    clear: both;
    /*border-radius: 20px;
    padding: 2em;*/
}


#logoImg {  /*regole per impostare il logo in modo accessibile*/
    /*display: none;*/
    background-image: url('../images/logo.PNG');
    float:right;
    text-indent: 100%;
    background-position: center;
    height: 4.4em;
    width: 6em;
}

#UserTools { /*regole per impostare icona per il menu utente*/
    display: none;
}


#LoginMenu a{ /*pulsante di login*/
    display: none;
}


#HamburgerMenu { /*regole per impostare icona per il menu utente*/
    display: none;
}

.ImgBackground{ /*regole per inserire una immagine con la tecnica image replacement*/
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 20px;
}

#ImgError404 {
    display: none;
    /*float: right;
    background-image: url('../images/EmptyPortrait.jpg');
    text-indent: 100%;
    background-size: 100%;
    background-position: center;
    height: 25em;
    width: 25em;*/
}
/*bottoni*/

.Button {
    display: block;
    text-align: center;
    font-size: 0.7em;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 1em;
    margin: 0.2em;
    width: 10em;
    border: 1px solid #000000;
    /*box-shadow: 0px 0px 2px 0px rgba(0,0,0,1), 0px 2px 3px rgba(0,0,0,1);*/
}

/*
.Button:hover{
    font-weight: bold;
}

.Button:active{
    background-color: #FFFFFF;
    box-shadow: none;
}
fine bottoni

#searchBox, #searchBox404 {
    border: 2px solid #000000;
}
*/

#labelS,.Hidelegend { /* regole per nascondere label e hidelegend*/
    position: absolute;
    height: 0px;
    overflow: hidden;
}


#breadcrumbs {
    display: none;
}

/*
#breadcrumbs > p{ mette in linea testo del primo paragrafo
    display: inline;
}
*/

#content {
    clear: both;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 20px;
    margin: 1.5em;
    /*padding: 2em;*/
}


#menu {
    display: none;
}

/*
#menu ul { toglie pallini dal menu
    list-style-type: none;
    text-align: center;
}
*/

/*
#menu li:hover {
    background-color: #FFFFFF;
    font-weight: bold;
    border-radius: 20px;
}
*/

.listClass {/*regola per template di un lista*/
    list-style-type: none;
    margin-bottom: 2.5em;
    margin-top: 1.5em;
    margin-left: 0.5em;
}

.listClass li{/*regola per template di un lista*/
    margin-bottom: 1em;
}

#content dt {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.2em;
}

#content dd {
    padding-left: 1em;
    font-size: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
}

/*
.clickableDl dt:hover, .listClass dl:hover {
    background-color: #EEEEEE;
    border-radius: 20px;
}
*/

.UserButton{ /* regole per i bottoni utente posiziona i bottoni a sinistra*/
    text-align: right;
    list-style-type: none;
    border-style: none;
}

.UserButton a{ /* regole per i bottoni utente*/
    font-size: 0.8em;
    display: inline-block;
}

.UserButton span{ /* regole per i bottoni utente*/
    font-size: 1em;
    display: block;
    margin-right: 5.5em;
}

.Navigation{/* regola per il posizionamento al centro del contenuto per la navigazione*/
    list-style-type: none;
    text-align: center;
    border-style: none;
}

#Modifica  {
    margin-top: 1em;
    margin-bottom: 4em;
}

#Continue {
    font-size: 1em;
}

.Navigation a {
    display: inline-block;
}

#FeedBackBox{
    font-size: 1em;
    margin: 1em 1em;
    border-style: none;
}

#textArea {
    display: block;
    position: relative;
    width: 60%;
    left: 15%;
    bottom: 1.4em;
}

#AreaDescr, #AreaDescr2, #AreaDescr3 {
    display: block;
    position: relative;
    width: 60%;
    left: 15%;
    bottom: 1.4em;
}

#clause {
    clear: right;
    font-size: 0.7em;
    padding-bottom: 1em;
}

.skip { /*regola per nascondere il salta contenuto*/
    display: none;
}

/*
.skip:focus { viene mostarto quando viene attivato dal tab
    position: static;
}
*/

/* colori link*/
a {
    color: #000000;
    /*text-decoration: none;*/
}

a:link:after, a:visited:after {
    content: " [" attr(href) "] ";
    font-size:90%;
}

/*
a:active {
    color: #990000;
}

a:visited {
    color: #663366;
}
*/

/*******/
#Error404Options {
    list-style-type: none;
}

#Error404Options li {
    padding: 0.3em;
}
/*******/

#ImgMuseo{/*img in home*/
    /* padding: 5%;*/
    text-align: center;
    /*   max-height: 30em;
       max-width: 40em;*/
    padding-bottom: 1em;
    padding-top: 1em;
}

#Map{/*regole per posizionamento e dimensionamento della mappa*/
    display: none;
    /*display: block;
    height: 12em;
    width: 80%;
    margin: 0.5em 10%;*/
}

#ButtonBackUp {  /*torna su*/
    display: none;
}

#footer {
    display: none;
}

/*
.ImgValid {
    display: inline-block;
}
*/

#ImgOpera{
    text-align: center;
}

#reviewButton, #buyButton {
    float: right;
    font-size: 1em;
}

.fieldset{ /*regole per template di fieldset, principalmente toglie il bordo */
    border: none;
    padding: 1em;
    text-align: justify;
}

.fieldset input, .fieldset label, .fieldset select {
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;

}

#Back,#Next {
    display: none;
}


/*#Back,#Next,*/#reset,#confirm{
    display: inline-block;
}

/*
#header {
    height: 21.7em;
}
*/

/*
#logoImg {
    background-position: center;
    height: 6em;
    width: 9.2em;
}
*/

/*
#ImgError404 {
    background-size: 100%;
    background-position: center;
    height: 25em;
    width: 25em;
}
*/

#UserTools {
    background-image: none;
}


#search {
    display: none;
    /*padding-top: 0.5em;
    text-align: center;*/
}

#searchBox {
    display: none;
}

#searchBox404 {
    background-color: #EEEEEE;
    border-radius: 20px;
    width: 45em;
    white-space: nowrap;
}

#filter, #filterType, #filterContent, #filterPeriod, #filterOpera {
    border: 0px;
    font-size: 1.5em;
    background: none;
    margin-right: 5% ;

}

#textSearch {
    display: none;
    /*font-size: 2em;
    border: 0;
    width: 12em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;*/
}

#Submit {
    cursor: pointer;
    border: 0px;
    font-size: 1.5em;
    background: none;
    margin-left: 5%;
}

/*
#menu {
    float: left;
    position: static;
    top: 24em;
    bottom: 10em;
    height: 50%;
    display: block;
    width: 20em;
    margin-top: 0;
}

#menu ul {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#menu li{
    font-size: 2em;
}

#content{
    margin-left: 23em;
}
*/

#warning {
    display: none;
}

.title{
    /*text-align: center;*/
    font-size: 2.5em;
    line-height: 2em;
}

.paragraph {
    font-size: 1em;
}