/* parte di CSS comune per tutti i dispositivi*/
* {
    padding: 0em;
    margin: 0em;
    font-size: 1em;
    font-family: sans-serif;
    box-sizing: border-box;
    max-width: 100%;
    line-height: 1.5em;
}

html, body {
    margin: auto;
    min-width: 380px;
    background-color: #CCCCCC;
}

#header {
    background-color: #333333;
}

#logoImg {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url('../images/logo.PNG');
    background-repeat: no-repeat;

}

#breadcrumb {
    border-radius: 10px;
    color: #000000;
}


#content {
    background-color: #FFFFFF;
    color: #000000;
}

#menu {
    background-color: #CCCCCC;
    /*  color: #0000CD; */
}

#menu ul {
    list-style-type: none;
    text-align: center;
}

#menu a  {
    text-decoration: none;
}

#menu li:hover {
    border-radius: 30px;
    background-color: #FFFFFF;
}

#menu a:hover {
    font-weight: bold;
}

#menu a:active {
    color: #660000;
}

.skip {
    position: absolute;
    text-indent: -9999px;
}

#footer {
    clear: both;
    border-top: 1px solid #333333;
    font-style: italic;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333333;
}

#buttonBackUp {
    background-image: url('..');
    width: 3em;
    height: 3em;
    bottom: 2.5em;
    right: 2.5em;
    color: transparent;
}

@media (min-width: 700px) {
    #header {
        background-color: #333333;
        padding: 2em;

    }

    #logoImg {
        height: 8.1em;
        /*background-position: left center;*/
        width: 17em;
        float:left;
    }

    #UserTools{
        float:right;
        text-align: center;
        overflow: hidden;
    }
    #UserTools ul {
        list-style-type: none;
    }

    #UserTools li {
        margin-bottom: 0.05em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        background-color: #CCCCCC;
        outline: none;
        cursor: pointer;
        text-align: center;
        width: 10em;
        font: 1em Arial, Helvetica, sans-serif;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        border-radius: 5px;
    }

    #UserTools li:hover {
        font-weight: bold;
        background-color: #CCDDEE;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .Button {
        text-shadow: 0 -1px rgb(46,53,58);
        text-decoration: none;
    }

    #search {
        padding-top: 9.5em;
        text-align: center;
        border: none;
        box-shadow: none;
    }

    #labelS {
        position: absolute;
        height: 0;
        overflow: hidden;
    }

    #textSearch {
        height: 6.5em;
        width: 32em;
        border: none;
    }

    #Submit {
        height: 6.5em;
        width: 10em;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        border: none;
        background-color: #EEEEEE;
    }

    #filter {
        border: none;
        height: 6.5em;
        width: 12em;
        padding-left: 5em;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        background-color: #EEEEEE;
    }
    #breadcrumbs {
        border-radius: 20px;
        font-size: 3em;
        margin: 0.5em;
        padding-left: 0.4em;
        background-color: #EEEEEE;
    }

    #menu {
        margin: 1.5em;
        border-radius: 20px;
        background-color: #EEEEEE;
    }

    #content {
        border-radius: 20px;
        margin: 1.5em;
        padding: 2em;
    }
    #warning {
        padding: 0.5em;
        background-color: #EEEEEE;
        border-radius: 20px;
    }
}
