/* parte di CSS comune per tutti i dispositivi*/
* {
    padding: 0em;
    margin: 0em;
    font-family: sans-serif;
    box-sizing: border-box;
    max-width: 100%;
    line-height: 1.5em;
}

html, body {
    margin: auto;
    min-width: 380px;
    background-color: #CCCCCC;
}

#header {
    background-color: #333333;
  /*  position: initial;*/
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.16), 0 30px 30px 0 rgba(0, 0, 0, 0.12);
}

#logoImg {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url('../images/logo.PNG');
    background-repeat: no-repeat;
}

fieldset{
    border: none;
}

#breadcrumb {
    border-radius: 10px;
    color: #000000;
}

#content {
    background-color: #FFFFFF;
    color: #000000;
}

#menu {
    background-color: #CCCCCC;
    /*  color: #0000CD; */
}

#menu ul {
    list-style-type: none;
    text-align: center;
}

#menu a  {
    text-decoration: none;
}

#menu li:hover {
    border-radius: 30px;
    background-color: #FFFFFF;
}

#menu a:hover {
    font-weight: bold;
}

#menu a:active {
    color: #660000;
}

.skip {
    position: absolute;
    text-indent: -9999px;
}

#footer {
    clear: both;
    border-top: 1px solid #333333;
    font-style: italic;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333333;
}

#buttonBackUp {
    background-image: url('..');
    width: 3em;
    height: 3em;
    bottom: 2.5em;
    right: 2.5em;
    color: transparent;
}

@media (min-width: 700px) {

    #header {
        background-color: #333333;
        padding: 2em;
    }

    #logoImg {
        height: 4em;
        float:left;
    }

    #UserTools{
        float:right;
        text-align: center;
        overflow: hidden;
    }

    #UserTools ul {
        list-style-type: none;
    }

    #UserTools li {
        margin-bottom: 0.05em;
        padding: 1em 2.5em 1em 2.5em;
        background-color: #CCCCCC;
        outline: none;
        cursor: pointer;
        text-align: center;
       /* width: 10em;*/
        font: 2em Arial, Helvetica, sans-serif;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        border-radius: 5px;
    }

    #UserTools li:hover {
        font-weight: bold;
        background-color: #CCDDEE;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .Button {
        text-shadow: 0 -1px rgb(46,53,58);
        text-decoration: none;
    }

    #search {
        padding-top: 23em;
        text-align: center;
    }

    #labelS {
        position: absolute;
        height: 0;
        overflow: hidden;
    }

    #textSearch {
        font-size: 2.8em;
    }

    #Submit {
        cursor: pointer;
        font-size: 2.82em;
        padding-right: 0.35em;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        background-color: #EEEEEE;
    }

    #filter {
        font-size: 3em;
        padding-top: 0.14em;
        padding-bottom: 0.18em;
        padding-left: 0.9em;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        background-color: #EEEEEE;


    }

    option {
        font-size: 0.3em;
    }

    #breadcrumbs {
        border-radius: 20px;
        font-size: 3em;
        margin: 0.5em;
        padding-left: 0.4em;
        background-color: #EEEEEE;
    }

    #menu {
        margin: 1.5em;
        border-radius: 20px;
        background-color: #EEEEEE;
    }

    #content {
        border-radius: 20px;
        margin: 1.5em;
        padding: 2em;
    }

    #warning {
        padding: 0.5em;
        margin-bottom: 1em;
        background-color: #EEEEEE;
        border-radius: 20px;
    }

    .H2Home {
        text-align: center;
        font-size: 3em;
    }

    .pContent {
        font-size: 2em;
    }

   /* #ImgMuseo{

    }*/

    #ButtonBackUp {
        position: fixed;
        bottom: 3em;
        right: 3em;
        color: transparent;
        opacity: 70%;
    }

    #footer {
        font-size: 0.5em;
        padding: 1em;
        text-align: center;
    }
}
