# File di configurazione del progetto in PHPStorm
.idea

# File di dizionario per PHPStorm
Configuration

# NPM package file
package.json
package-lock.json
.stylelintrc.json
node_modules

# File generati dalla compilazione LaTeX
.log
.aux
.toc
.out
.synctex.gz
*.log
*.gz
