<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+ARIA 1.0//EN" "http://www.w3.org/WAI/ARIA/schemata/xhtml-aria-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it-IT">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Home | Museo arte nel tempo</title>

        <meta name="language" content="italian it" />
        <meta name="title" content="Home | Museo arte nel tempo" />
        <meta name="description" content="" />
        <meta name="keywords" content="arte, pittura, scultura, museo" />       <!-- Rivedere per sicurezza -->
        <meta name="author" content="Fiammetta Cannavò, Lorenzo Dei Negri, Federico Perin, Massimo Toffoletto" />

        <link rel="stylesheet" media="screen" href="" type="text/css" />
        <link rel="stylesheet" media="print" href="" type="text/css" />
        <link rel="icon" href="" />

    </head>

    <body>

        <div id="header" class="" role="banner">
            <div id="logo" class="" role="img" aria-label="Immagine del logo Museo arte nel tempo">
                <h1 id="logoImage"> Museo Arte nel Tempo </h1>                    <!-- Utilizzare il css per inserire il logo -->
            </div>
            <a id="logIn" class="" href="" title="LogIn" role="button" aria-label="porta alla pagina di login"> <span xml:lang="en"> LogIn </span></a>
            <a id="profile" href="" title="Area utente" role="button" aria-label="porta alla pagina del profilo utente"> Area utente </a>
            <a id="logOut" href="" title="LogOut" role="button" aria-label="esci dal tuo profilo"> <span xml:lang="en"> LogOut </span> </a>
            <form id="search" action="" method="post" role="search" aria-label="descrizione"><!-- Nascondi con CSS -->
                <fieldset>
                    <legend>Legenda</legend>
                    <select name="test" id="filter" class="" tabindex="0"  aria-label="Seleziona il filtro per la ricerca">
                        <option value="" selected="selected"></option>
                        <option value="" ></option>
                        <option value="" ></option>
                    </select>
                    <label for="searchText">Cerca nel sito</label>
                    <input id="searchText" class="" type="text" tabindex="1" role="search" aria-label="descrizione"/>
                    <input type="submit" value="Cerca" aria-label="Pulsante per la ricerca"/>
                </fieldset>
            </form>
        </div>

        <div id="breadcrumbs" aria-label="breadcrumbs">Ti trovi in: <span xml:lang="en">Home</span></div>   <!-- Da rivedere come farlo -->

        <div id="menu" role="navigation" aria-label="menu per la navigazione nel sito">
            <ul id="menuUl">
                <li id="skipMenu"><a href="#content" tabindex="2">Vai al contenuto</a></li>
                <li id="currentLink"><span xml:lang="en">Home</span></li>
                <li><a href="" tabindex="3" title="Opere" aria-label="Vai alla pagina delle opere">Opere</a></li>
                <li><a href="" tabindex="4" title="Eventi" aria-label="Vai alla pagina degli eventi">Eventi</a></li>
                <li><a href="" tabindex="5" title="Opzioni d'acquisto" aria-label="Vai alla pagina dedicata agli acquisti">Opzioni d'acquisto</a></li>
                <li><a href="" tabindex="6" title="Avvisi" aria-label="Vai alla pagina degli avvisi">Avvisi</a></li>
                <li><a href="" tabindex="7" title="Cosa dicono di noi" aria-label="Vai alla pagina dedicata alle recensioni">Cosa dicono di noi</a></li>
                <li><a href="" tabindex="8" title="Contatti" aria-label="Vai alla pagina dedicata ai contatti">Contatti</a></li>
            </ul>
        </div>

        <div id="content" role="main">
            <h2>Lorem Ipsum</h2>
            <p>
                <a href="#p2" class="skip4SR" >Salta il testo</a>               <!-- Da nascondere con il CSS -->
                .....
            </p>

            <h2 id="p2">Lorem Ipsum 2</h2>
            <p>
               .....
            </p>
            <!-- Da vedere bene -->
            <p>
                <a id="buttonBackUp" href="#breadcrumbs" title="Torna su" aria-label="Torna su">
                    <img src="" alt="Torna su"/>
                </a>
            </p>
        </div>

        <div id="footer" class="" aria-label="footer">
            <img src="" alt="XHTML"/>
            <p>
                Progetto per il corso di Tecnologie Web, Anno Accademico 2019/2020
            </p>
            <p>
                Studenti: Fiammetta Cannavò, Lorenzo Dei Negri, Federico Perin, Massimo Toffoletto
            </p>
            <img src="" alt="CSS"/>
        </div>

    </body>
</html>
